extends layout

block content
    ul(id="navbar")
        li(class="floater")     
            a(href="/dashboard")
            a(href="/logout") Log Out
    div(id="content")
        h2=`Hello, ${user.username}. Ready to Administrate?'
        table(class='gridtable')
        tr
            th Id
            th Name
            th Age
            th Species
            th
            th
        each item in people
            tr
                td
                    a(href='/details/' + item._id) #{item._id}
                td #{item.name}
                td #{item.age}
                td #{item.species}
                td 
                    a(href='/edit/' + item._id) Edit
                td
                    a(href='/delete/' + item._id) Delete